In [1]:
# Libraries
import pandas as pd
from IPython.display import HTML

### Questions I'm Trying to Answer
1.Overpaying for rarity         
2.Who owns the most         
3.Biggest winning trades and losing trades

In [3]:
# Import Sales Data
sales = pd.read_csv("sales_0xED5AF388653567Af2F388E6224dC7C4b3241C544.csv")
sales.head()

,transaction_hash,block_number,date,asset_id,seller,buyer,maker,taker,sale_price_eth,sale_price_usd
0,0x264d6a73bfd4f8ec8a431833d217b50be5b85cabd983...,15835684,2022-10-26,2677,0x6ed62956c4b7485b051c9c71d203f3192a7fc92b,0x2334fd2c0010fb428724e31d8cfb0de030b3045c,0x6ed62956c4b7485b051c9c71d203f3192a7fc92b,0x2334fd2c0010fb428724e31d8cfb0de030b3045c,18.00,26316.880876
1,0xcfdc0fda4cde2ffdd4cc1e36950f85868e0aed36a80c...,15834706,2022-10-26,2709,0x074f366e9aefcbd32444953728c82fb1d173144f,0x82bbcac5a8b81368a4a96f0265cb40e46020a1e1,0x074f366e9aefcbd32444953728c82fb1d173144f,0x82bbcac5a8b81368a4a96f0265cb40e46020a1e1,9.90,14474.284482
2,0xd1288bb0f4957ea64d6633d68b9a8909df0c1a8ee7c1...,15833617,2022-10-26,424,0x864a6ea3137cb970ec5004b9b90b90961b5aa034,0x7d0d6421e08b3f9a5172005487cffb146aeb86d6,0x864a6ea3137cb970ec5004b9b90b90961b5aa034,0x7d0d6421e08b3f9a5172005487cffb146aeb86d6,15.99,23378.162512
3,0x56835dc42d32a0cc18957dfd7a774b302a91046a6ae7...,15833403,2022-10-26,4644,0x7213b3e1934a6c902a8d18f71e03cda8138bd78c,0xfaf4670e745e5ac4a3e89c670122fd90f73c3a77,0x7213b3e1934a6c902a8d18f71e03cda8138bd78c,0xfaf4670e745e5ac4a3e89c670122fd90f73c3a77,12.50,18275.611720
4,0xfe50ef9ee129ac2865c921b2404060508d41b78f48c0...,15833319,2022-10-26,6293,0xe93c28e6119778b13e00609a352aa8fce0de4be4,0x5f20abebe0ba11a9dc0f08e654e416bbee8979f9,0xe93c28e6119778b13e00609a352aa8fce0de4be4,0x5f20abebe0ba11a9dc0f08e654e416bbee8979f9,18.50,27047.905345

In [4]:
# Import Meta Data
metadata = pd.read_csv("metadata_0xED5AF388653567Af2F388E6224dC7C4b3241C544.csv")
metadata.head()

,asset_id,attribute_count,attribute_count_rarity_score,Type_attribute,Type_rarity_score,Hair_attribute,Hair_rarity_score,Clothing_attribute,Clothing_rarity_score,Eyes_attribute,...,Ear_rarity_score,Headgear_attribute,Headgear_rarity_score,Neck_attribute,Neck_rarity_score,Face_attribute,Face_rarity_score,Special_attribute,Special_rarity_score,overall_rarity_score
0,0,7,3.160556,Human,1.108893,Water,476.190476,Pink Oversized Kimono,140.845070,Striking,...,1.222344,NaN,1.535627,NaN,1.290989,NaN,1.472754,NaN,1.067122,754.430042
1,1,7,3.160556,Human,1.108893,Pink Hairband,129.870130,White Qipao with Fur,119.047619,Daydreaming,...,1.222344,NaN,1.535627,NaN,1.290989,NaN,1.472754,NaN,1.067122,405.240847
2,2,7,3.160556,Human,1.108893,Pink Flowy,114.942529,Vest,62.500000,Ruby,...,303.030303,NaN,1.535627,NaN,1.290989,NaN,1.472754,NaN,1.067122,557.945436
3,3,9,5.485464,Human,1.108893,Green Spiky,85.470085,Green Yukata,48.076923,Careless,...,1.222344,Frog Headband,106.382979,Frog Headphones,192.307692,NaN,1.472754,NaN,1.067122,527.201403
4,4,7,3.160556,Human,1.108893,Brown Dreadlocks,476.190476,White Qipao with Fur,119.047619,Lightning,...,1.222344,NaN,1.535627,NaN,1.290989,NaN,1.472754,NaN,1.067122,865.065959

In [5]:
# Import Transfer Data
transfers = pd.read_csv("transfers_0xED5AF388653567Af2F388E6224dC7C4b3241C544.csv")
transfers.head()

,transaction_hash,block_number,date,asset_id,from_address,to_address,log_index
0,0x264d6a73bfd4f8ec8a431833d217b50be5b85cabd983...,15835684,2022-10-26,2677,0x6ed62956c4b7485b051c9c71d203f3192a7fc92b,0x2334fd2c0010fb428724e31d8cfb0de030b3045c,363
1,0xee16c2a311b3f8692c20c407fcb7d0ea2bf6e5d160ca...,15835621,2022-10-26,7591,0x297522b5093c0200eb397fc60e0b02d5368312bd,0x72695c2af4193029e0669f2c01d84b619d8c25e7,373
2,0x173c9889ac71ae626b380299f439f221bab847adeb6d...,15835598,2022-10-26,8463,0x488e5685b38d9412cdadae46feed3e863f57ca5b,0x877adf7a6d29a4678dc86cba270a2c5257b6ecc9,197
3,0x3c14155a1464e8add9b6ad8bfe3641cd7d281f97580f...,15835518,2022-10-26,6865,0x4c4ac5781723ee8f73ab739420e0050263ffb34e,0x35fc43ef12fab9750e88a0b6c9fc5384c67aadab,268
4,0x3ef4c3551d81a4cfebf56d8c260b9c37812a441101e9...,15835188,2022-10-26,1754,0x37abff4804cf3e9bf0b0bc0d75880190f35c5981,0xc578958dd1880cf00bffbb7feb9c28cbbbcad3bf,350

## Overpaying For Rarity

In [6]:
# Join The sales and the meta data
sales_with_metaasset_id = sales.join(metadata, on = "asset_id",  lsuffix="_left", rsuffix="_right")

# Take the sales price and divde the rarity to create a $/ rarity score
# The higher the money, and lower rarity = higher score, which means a low value deal
sales_with_meta['$/Rarity'] = sales_with_meta["sale_price_usd"]/sales_with_meta["overall_rarity_score"]

# Create link to OpenSea page
base_url = "https://opensea.io/assets/ethereum/0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d/"
sales_with_meta['url'] =  base_url + sales_with_meta['asset_id_left'].astype(str)

# Top 10 lowest values
important_columns = ['$/Rarity','asset_id_left',"sale_price_usd","overall_rarity_score", 'date','buyer', 'url']
top_10 = sales_with_meta[important_columns].sort_values(['$/Rarity'],ascending=False)[0:10] 

#Show Table
HTML(top_10.to_html(render_links=True, escape=False))

In [8]:
sales_with_meta.head()

,transaction_hash,block_number,date,asset_id_left,seller,buyer,maker,taker,sale_price_eth,sale_price_usd,...,Headgear_rarity_score,Neck_attribute,Neck_rarity_score,Face_attribute,Face_rarity_score,Special_attribute,Special_rarity_score,overall_rarity_score,$/Rarity,url
0,0x264d6a73bfd4f8ec8a431833d217b50be5b85cabd983...,15835684,2022-10-26,2677,0x6ed62956c4b7485b051c9c71d203f3192a7fc92b,0x2334fd2c0010fb428724e31d8cfb0de030b3045c,0x6ed62956c4b7485b051c9c71d203f3192a7fc92b,0x2334fd2c0010fb428724e31d8cfb0de030b3045c,18.00,26316.880876,...,1.535627,NaN,1.290989,NaN,1.472754,Sakura,125.000000,339.769044,77.455205,https://opensea.io/assets/ethereum/0xbc4ca0eda...
1,0xcfdc0fda4cde2ffdd4cc1e36950f85868e0aed36a80c...,15834706,2022-10-26,2709,0x074f366e9aefcbd32444953728c82fb1d173144f,0x82bbcac5a8b81368a4a96f0265cb40e46020a1e1,0x074f366e9aefcbd32444953728c82fb1d173144f,0x82bbcac5a8b81368a4a96f0265cb40e46020a1e1,9.90,14474.284482,...,1.535627,NaN,1.290989,NaN,1.472754,NaN,1.067122,265.667885,54.482628,https://opensea.io/assets/ethereum/0xbc4ca0eda...
2,0xd1288bb0f4957ea64d6633d68b9a8909df0c1a8ee7c1...,15833617,2022-10-26,424,0x864a6ea3137cb970ec5004b9b90b90961b5aa034,0x7d0d6421e08b3f9a5172005487cffb146aeb86d6,0x864a6ea3137cb970ec5004b9b90b90961b5aa034,0x7d0d6421e08b3f9a5172005487cffb146aeb86d6,15.99,23378.162512,...,1.535627,NaN,1.290989,Red Stripes Face Paint,34.482759,NaN,1.067122,335.481860,69.685325,https://opensea.io/assets/ethereum/0xbc4ca0eda...
3,0x56835dc42d32a0cc18957dfd7a774b302a91046a6ae7...,15833403,2022-10-26,4644,0x7213b3e1934a6c902a8d18f71e03cda8138bd78c,0xfaf4670e745e5ac4a3e89c670122fd90f73c3a77,0x7213b3e1934a6c902a8d18f71e03cda8138bd78c,0xfaf4670e745e5ac4a3e89c670122fd90f73c3a77,12.50,18275.611720,...,1.535627,NaN,1.290989,NaN,1.472754,NaN,1.067122,290.070032,63.004136,https://opensea.io/assets/ethereum/0xbc4ca0eda...
4,0xfe50ef9ee129ac2865c921b2404060508d41b78f48c0...,15833319,2022-10-26,6293,0xe93c28e6119778b13e00609a352aa8fce0de4be4,0x5f20abebe0ba11a9dc0f08e654e416bbee8979f9,0xe93c28e6119778b13e00609a352aa8fce0de4be4,0x5f20abebe0ba11a9dc0f08e654e416bbee8979f9,18.50,27047.905345,...,84.033613,NaN,1.290989,NaN,1.472754,NaN,1.067122,463.633595,58.338968,https://opensea.io/assets/ethereum/0xbc4ca0eda...